* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #161B1D;
    --primary-text: white;
    --primary-color-hover: rgb(15, 18, 20);
    --blockquoteColor: #cdced6;
    --mdxeditorContentBorderColor: rgb(240, 240, 243);
    --secondary-color: #FF5F00;
    --shadowColor: black;
}

.rti--input {
    flex-grow: 1;
}
.rti--tag {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.mdxeditor > div[role="toolbar"] {
    border-radius: 10px 10px 0 0;
}
.mdxeditor ol, .mdxeditor ul {
    list-style-position: inside;
    padding-left: 20px;
}
.markdown-editor-content {
    min-height: 25vh;
    border: 2px solid var(--mdxeditorContentBorderColor);
    border-top: 0;
    border-radius: 0 0 10px 10px;
}
.mdxeditor blockquote {
    border-left: .25rem solid var(--blockquoteColor);
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
}
.readonly-mdx-editor div[data-editor-block-type="image"] {
    display: flex;
    width: 100%;
    height: auto;
}
.readonly-mdx-editor div[data-editor-block-type="image"] > div {
    margin-left: auto;
    margin-right: auto;
}
.readonly-mdx-editor div[data-editor-block-type="image"] img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.readonly-mdx-editor button[title="Edit image"] {
    display: none;
}
.readonly-mdx-editor p,
.readonly-mdx-editor blockquote,
.readonly-mdx-editor li {
    font-size: 1.25rem;
    line-height: 2rem;
}
.readonly-mdx-editor h6 {
    font-size: 1.4rem;
}
.readonly-mdx-editor h5 {
    font-size: 1.7rem;
}
.readonly-mdx-editor h4 {
    font-size: 2rem;
}
.readonly-mdx-editor h3 {
    font-size: 3rem;
    margin: 1rem 0;
}
.readonly-mdx-editor h2 {
    font-size: 4rem;
    margin: 1rem 0;
}
.readonly-mdx-editor h1 {
    font-size: 5rem;
    margin: 1rem 0;
}
.readonly-mdx-editor hr {
    margin: 2rem 0;
    border-color: var(--primary-color);
}

.highlighted-search-hit {
    background-color: transparent;
    color: var(--secondary-color);
}
.ais-InfiniteHits-item {
    list-style: none;
}
.search-review-result:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--shadowColor);
}

.width-100 {
    width: 100%;
}

.default-button {
    background-color: var(--primary-color);
    color: var(--primary-text);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 6px;

    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;

    transition: background-color 250ms;
}
.default-button:hover {
    background-color: var(--primary-color-hover);
    cursor: pointer;
}

.footer {
    box-shadow: 
        0px -2px 4px -1px rgba(0,0,0,0.2), 
        0px -4px 5px 0px rgba(0,0,0,0.14), 
        0px -1px 10px 0px rgba(0,0,0,0.12);
}

/* ===== Scrollbar ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #FF5F00 #161B1D;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #161B1D;
}

*::-webkit-scrollbar-thumb {
    background-color: #FF5F00;
    border-radius: 10px;
    border: 3px solid #161B1D;
}