* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blockquoteColor: #cdced6;
    --mdxeditorContentBorderColor: rgb(240, 240, 243);
    --highlightedColor: #003dff;
    --shadowColor: black;
}

.rti--input {
    flex-grow: 1;
}
.rti--tag {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.mdxeditor > div[role="toolbar"] {
    border-radius: 10px 10px 0 0;
}
.mdxeditor ol, .mdxeditor ul {
    list-style-position: inside;
    padding-left: 20px;
}
.markdown-editor-content {
    min-height: 25vh;
    border: 2px solid var(--mdxeditorContentBorderColor);
    border-top: 0;
    border-radius: 0 0 10px 10px;
}
.mdxeditor blockquote {
    border-left: .25rem solid var(--blockquoteColor);
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
}
.readonly-mdx-editor div[data-editor-block-type="image"] {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.readonly-mdx-editor button[title="Edit image"] {
    display: none;
}

.highlighted-search-hit {
    background-color: transparent;
    color: var(--highlightedColor);
}
.ais-InfiniteHits-item {
    list-style: none;
}
.search-review-result:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--shadowColor);
}

.width-100 {
    width: 100%;
}

.footer {
    box-shadow: 
        0px -2px 4px -1px rgba(0,0,0,0.2), 
        0px -4px 5px 0px rgba(0,0,0,0.14), 
        0px -1px 10px 0px rgba(0,0,0,0.12);
}

/* ===== Scrollbar ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #FF5F00 #161B1D;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #161B1D;
}

*::-webkit-scrollbar-thumb {
    background-color: #FF5F00;
    border-radius: 10px;
    border: 3px solid #161B1D;
}